[Unit]
Description=Dock DBus Service
After=dbus.service
Wants=dbus.service

[Service]
Type=simple
Environment=LD_LIBRARY_PATH=/usr/lib/dock_sdk
ExecStart=/usr/bin/dock_dbus_service
Restart=always
User=root

[Install]
WantedBy=multi-user.target